*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'montserrat';
    color: #fff;
}


html,body{
    width: 100%;
    height: 100%;
    /* background-color: rgb(197, 196, 194); */
}
#cursor{
    height:20px;
    width:20px;
    background-color: #95c11e;
    border-radius: 50%;
    position: fixed;
    z-index: 99;

}
#cursor-blur{
    height:400px;
    width: 400px;
    background-color: #96c11e2f;
    border-radius: 50%;
    position: fixed;
    filter: blur(40px);
    z-index: 9;
} 
#nav{
    height: 150;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    padding: 0 150px;
    gap: 50px;
    position: fixed;
    justify-content: flex-start;
    z-index: 99;
}
#nav img{
      height: 75px;
      text-transform: uppercase;
      padding-top: 10px;
      font-weight: 500;

}
video{
    text-align: center;
    position: fixed;
    z-index: -1;
    object-fit: cover;
}
#main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.591); 
    
}
#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex ;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index:10 ;

}
#page1 h1{
       font-size: 120px;
       font-weight: 800;
       position: relative;

}
#page1 h1::before{
    content: "EAT. DRINK. PLAY.";
     position: absolute;
     color:black;
     top:-6px;
     left: -6px;
     -webkit-text-stroke: 2px #1dff00;
     z-index: -1;
        

} 

#page1 h2{
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 20px;
}

#page1 p{
    font-size: 14px;
    font-weight:500;
    margin-top: 3px;
}   
#page2{
    height: 100vh;
    width: 100%;
    z-index: 10 ;
}
#page{
    height: 100px;
    width: 100%px;
    z-index: -1;
}
#scroller{
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
     position: relative;
     z-index: 10;
}
#scroller::-webkit-scrollbar{
    display: none;
}
#scroller-in-1{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
     animation-duration: 20s;
     animation-timing-function: linear;
     animation-iteration-count: infinite;
}
#scroller-in-2 {
    display: inline-block;
    white-space: nowrap;
     animation-name: scroll;
     animation-duration: 20s;
     animation-timing-function: linear;
     animation-iteration-count: infinite;
}
#scroller h4{
    display: inline-block;
    font-size: 120px;
    font-weight: 900;
    font-family: gilroy;
    margin-right: 10px;
    transition: all linear 0.5s;
    color: transparent;
    -webkit-text-stroke: 2px #aedd2ed2;

}
#scroller h4:hover{
    color: #95c11e;
}
@keyframes scroll {
    from{
        trensfrom: translateX(0);

    }
    to{
        transform: translate(-100%);
    }
}
